<div class="container">
   <div class="title_about">
      About Us
   </div>
</div>

<div class="container">
   <div class=>
      <h1>Aqua Quality Roofing</h1>  
      <h2>Roof restoration terracotta and cement tiles.</h2>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-6">
         <p>Aqua Quality Roof offers a complete variety of services,  We provide services to all suburbs of Melbourne. 
         We have been providing these services for over 25 years and have built up a strong client base. 
         We understand our clients' needs and delivers a personal service catering to the specific needs of your roof.</p>

         <p>We provide free and friendly advice and quotations to all customers. With our services, we guarantee quality 
         and discounts. We also provide pensioners discounts.</p>
      </div>
      <div class="col-md-6">
         <p>We are specialized in terracottas and  cement tiles:</p>
         <ul>
            <li>Quality Roof Paint Coating</li>
            <li>Ridge Cap Flexi Point</li>
            <li>Roof Rebedding</li>
            <li>Valley Irons</li>
            <li>Driveway & Paving Cleaning</li>
            <li>Gutter Cleaning & replacing</li>
             
         </ul>
         <p>Warranty 8 years</p>
      </div>
     
   </div>
   <div class="image">
      <img src="img/leafleft v1 left image.jpg" id="resize">
   </div>
</div>

<div class="container">
   <div class="title_about">
      About Me
   </div>
</div>

<div class="container">
   <div class="about_me">
      <h3>Raul Szyszko</h3>
        <img src="img/face.png" class="img-circle" width="174" height="156">
        <h4>General Manager</h4>
        <p>Qualified tradesman with more than 25 years experience</p>
   </div>
</div>