<div class="container">
   <div class="title_about">
      Contact Us
   </div>
</div>

<div class="container">
   <div class="row space">
      <div class="col-md-1">
         <div class="icons"> 
            <i class="fa fa-home fa-3x"></i>
         </div>
         <div class="icons">
            <i class="fa fa-phone fa-3x"></i>
         </div>
         <div class="icons">
            <i class="fa fa-envelope fa-3x"></i>
        </div>
      </div>
      <div class="col-md-5">
         <div class="icons">
            <p>Address:<br/>
            Endeavour Hills, Melbourne</p>
         </div>
         <div class="icons">
            Telephone:<br/>
            (04) 13 158 027
         </div>
          <div class="icons">
            Email:<br/>
            roofqualityplus@gmail.com
          </div>
      </div>
      <div class="col-md-6">
            <div id="map"></div>
      </div>
   </div>
</div>
