<div class="container">
   <div class="title_about">
      Services
   </div>
</div>

<div class="container">
   <div class="gallery">
       <div class="row">
          <div class="col-md-3">
              <div class="thumbnail">
                <img class="img-responsive" src="img/moss roof.jpg" alt="...">
              </div>
               <div class = "caption">
                  <h3>Demosing</h3>
               </div>
               <div class="paragraph">
                  <p>We clean any moss you roof has</p>
               </div>
          </div>
           <div class="col-md-3">
                <div class="thumbnail">
                 <img  class="img-responsive" src="img/clean roof.jpg" alt="...">
              </div>
               <div class = "caption">
                  <h3>Clean Roof</h3>
               </div> 
               <div class="paragraph">
                  <p>We use a pressure machine to make sure you roof looks...</p>
               </div>
          </div>
          <div class="col-md-3">
               <div class="thumbnail">
                 <img  class="img-responsive" src="img/roof2.jpg" alt="...">
              </div>
               <div class = "caption">
                  <h3>Roof Reponting</h3>
               </div> 
                <div class="paragraph">
                  <p>We renew and change loose tile </p>
               </div>
          </div>
           <div class="col-md-3">
                <div class="thumbnail">
                 <img  class="img-responsive" src="img/roof3.jpg" alt="...">
               </div>
               <div class = "caption">
                  <h3>Flexipoint</h3>
               </div>
               <div class="paragraph">
                  <p>Flexi-point is made from water based polymers and...</p>
               </div>
          </div>
      </div>
  </div>
</div>